<!doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://kit.fontawesome.com/a81368914c.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
     <link rel="stylesheet" href="https://yuri-neko.github.io/simple/static/css/pedo.css">
     <title>Follow Me</title>
     <meta property="og:title" content=".:: Ruka-Chan ::."/>  
     <meta name="description" content=" [+] Follow ruka.nime7 [+] "> 
  
     <link rel="shortcut icon" href="https://raw.githubusercontent.com/Yuri-Neko/lucubot-md/master/tumblr_a0bac75d802b28060cf24f30c64259d0_a981d908_1280.jpg" />
     <meta property="og:image" content="https://raw.githubusercontent.com/Yuri-Neko/lucubot-md/master/tumblr_a0bac75d802b28060cf24f30c64259d0_a981d908_1280.jpg">
     <link rel="shortcut icon" href="https://raw.githubusercontent.com/Yuri-Neko/lucubot-md/master/tumblr_a0bac75d802b28060cf24f30c64259d0_a981d908_1280.jpg" type="image/x-icon" />
</head>

<body id="body" class="dark">
     <!-- <div class="wrapper">
          <div class="toggle">
               <input class="toggle-input" type="checkbox" />
               <div class="toggle-bg"></div>
               <div class="toggle-switch">
                    <div class="toggle-switch-figure"></div>
                    <div class="toggle-switch-figureAlt"></div>
               </div>
          </div>
     </div> -->
     <div class="modal">
          <img src="https://api-kyouka.herokuapp.com/api/wallpaper/nezuko?apikey=BunqSx8bFghjhTErkrdFeyrBvuFYY6rfGCgcFGETWfVbdreRyxfgXGFXewDHGcghr76e535dtDG" alt="img">
          <div class="close"></div>
     </div>

     <div id="container" class="container">
          <input type="checkbox" name="" id="check">
          <div class="card">
               <div class="sidebar" id="sidebar">
                    <ul>
                         
                         <li><a class="active" href="https://www.youtube.com/channel/UColzqD-h69GCGWitfF8UJhw">Youtube Me</a></li>
                         <li><a class="active" href="https://instagram.com/ruka.nime7">Instagram</a></li>
                         <li><a class="active" href="/">Dashboard</a></li>

                        
                    </ul>
               </div>
               <div class="header">
                    <label for="check" class="checkbtn" id="chkbtn">
                         <div class="hamburger-menu">
                              <div class="center"></div>
                         </div>
                    </label>
                    <a href="mailto: hashibakyouka@gmail.com" class="mail">
                         <i class="far fa-envelope"></i>
                    </a>
                    <div class="main">
                         <div class="image">
                              <div class="hover">
                                   <i class="fas fa-camera fa-2x"></i>
                              </div>
                         </div>
                         <h3 class="name">Ruka chan</h3>
                         <h3 class="sub-name">@ruka.nime7</h3>
                    </div>
               </div>

               <div class="content">
                    <div class="left">
                         <div class="about-container">
                              <h3 class="title">About</h3>
                              <p class="text">FANPAGE ANIME<br>Fan page<br>•Membahas Seputar Dunia Perwibuan.<br>⚜Scene Anime.<br>⚜Berita Terupdate Seputar Anime Secara Tajam Dan Terpercaya.</p>
                         </div>
                         <div class="icons-container">
                              <a href="https://instagram.com/ruka.nime7" class="icon">
                                   <i class="fab fa-instagram"></i>
                              </a>
                              <a href="https://wa.me/6283825121214" class="icon">
                                   <i class="fab fa-whatsapp"></i>
                              </a>
                              
                                                     
                         </div>
                         <div class="buttons-wrap">
                              <div class="follow-wrap">
                                   <a href="https://instagram.com/ruka.nime7" class="follow">Follow</a>
                              </div>
                              <div class="share-wrap">
                                   <a href="/developer" class="share">Contact</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <script src="https://xdlyy404.github.io/simple/static/js/app.js"></script>
     
     <script
  id="contactform"
  form_worker_url="https://mjvbzcontactme.tomsmater.workers.dev/"> </script>
   </body>

</html>
